nav h1{
    color: white;
    margin-left: 10px;

}
.nav-ul-a{
    font-size: 20px;
    color: rgb(233, 8, 8);
}
.hero {
    background-image: url('hiranandani.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 150px 0;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    background-color: #f44336;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #d32f2f;
}
#about-us-h2{
    text-align: center;
    margin-top: 50px;
}
#about-us-h3{
    text-align: center;
}
.listing-h1{
    text-align: center;
}
/* Contact section styles */
.contact {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

.contact-form {
    max-width: 500px;
    margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #d32f2f;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.listing-flex{
    display: flex;
}
.card{
    margin-left: 100px;
}